<div class="container">
    <div class="row">
        <div class="mx-auto col-sm-6">
            <!-- form user info -->
            <div class="card">
                <div class="card-header">
                    <h4>{{pageTitle}}</h4>
                </div>
                <div class="card-body">
                    <form class="form inline"
                    novalidate
                    (ngSubmit)="saveData()" 
                    [formGroup]="itemForm" autocomplete="off">
                        <fieldset>
                        <div class="form-group row" > 
                                <label class="col-md-4 col-form-label form-control-label" for="itemNumber">Item Number</label>
                                <div class="col-md-8" >
                                    <input class="form-control"
                                        id="itemNumber" 
                                        type="text"                                     
                                        placeholder="Item Number (required)"                                       
                                        formControlName="itemNumber" />                                     
                                    <span class="help-block" *ngIf="(itemForm.get('itemNumber').touched || itemForm.get('itemNumber').dirty) && !itemForm.get('itemNumber').valid">
                                        <span  *ngIf="itemForm.get('itemNumber').errors?.required">
                                            "Please enter the item number."
                                        </span>                                        
                                    </span>
                                </div>
                                <label class="col-md-4 col-form-label form-control-label" for="itemDescription1">Item Description 1</label>
                                <div class="col-md-8" >
                                    <input class="form-control" 
                                        id="itemDescription1" 
                                        type="text"                                     
                                        placeholder="Item Description 1 (required)"                                       
                                        formControlName="itemDescription1" />
                                    <span class="help-block" *ngIf="(itemForm.get('itemDescription1').touched || itemForm.get('itemDescription1').dirty) && !itemForm.get('itemDescription1').valid">
                                        <span *ngIf="itemForm.get('itemDescription1').errors?.required">
                                            "Please enter the item description."
                                        </span>                                        
                                    </span>
                                </div>
                                <label class="col-md-4 col-form-label form-control-label" for="itemDescription2">Item Description 2</label>
                                <div class="col-md-8" >
                                    <input class="form-control" 
                                        id="itemDescription2" 
                                        type="text"                                     
                                        placeholder="Item Description 2"                                       
                                        formControlName="itemDescription2" />                                    
                                </div>
                                <label class="col-md-4 col-form-label form-control-label" for="itemReleaseNumber">Item Release Number</label>
                                <div class="col-md-8" >
                                    <input class="form-control" 
                                        id="itemReleaseNumber" 
                                        type="text"                                     
                                        placeholder="Item ReleaseNumber"                                       
                                        formControlName="itemReleaseNumber" />                                    
                                </div>
                                <label class="col-md-4 col-form-label form-control-label" for="endItemCode">End Item Code</label>
                                <div class="col-md-8" >
                                    <input class="form-control" 
                                        id="endItemCode" 
                                        type="text"                                     
                                        placeholder="End Item Code"                                       
                                        formControlName="endItemCode" />                                    
                                </div>
                                <label class="col-md-4 col-form-label form-control-label" for="productCategory">Product Category</label>
                                <div class="col-md-8" >
                                    <input class="form-control" 
                                        id="productCategory" 
                                        type="text"                                     
                                        placeholder="Product Category"                                       
                                        formControlName="productCategory" />                                    
                                </div>
                                <label class="col-md-4 col-form-label form-control-label" for="unitOfMeasure">Unit Of Measure</label>
                                <div class="col-md-8" >
                                    <input class="form-control" 
                                        id="unitOfMeasure" 
                                        type="text"                                     
                                        placeholder="Unit Of Measure"                                       
                                        formControlName="unitOfMeasure" />                                    
                                </div>                 
                                
                            </div>


                            <div class="form-group row">
                                    <label class="col-md-3 col-form-label form-control-label"></label>
                                    <div class="col-md-9">
                                        <span>
                                            <button class='btn btn-outline-dark btn-md '
                                            (click)='onBack()'style="width:80px;margin-right:10px"> Back
                                            </button>
                                           <!--  <input type="button" class="btn btn-outline-dark btn-md" 
                                            value="Back" style="width:80px;margin-right:10px" (click)="onBack()" > -->
                                        </span>
                                        <span>
                                            <input type="reset" class="btn btn-outline-dark btn-md" value="Cancel" style="width:80px;margin-right:10px">  
                                        </span>                                        
                                        <span>
                                            <input type="submit" class="btn btn-outline-dark btn-md" value="Save" style="width:80px;margin-right:10px" [disabled]="!itemForm.valid">
                                        </span>                                                                            
                                        
                                    </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>            
           <!--  <br> Dirty:{{itemForm.dirty}}
            <br> Toched:{{itemForm.touched}}
            <br> Valid:{{itemForm.valid}}
            <br> Value:{{itemForm.value | json}} -->
            <!-- /form user info -->
        </div>
        <div class="alert alert-danger" role="alert" *ngIf='errors'>  
            <strong>Error!</strong> {{errors}}
        </div>
    </div>
   
</div>