<nav class="navbar navbar-dark bg-dark mb-5">
  <p class="navbar-brand">{{title}}</p>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>  
      <a class="nav-item nav-link active" href="#">Orders</a>  
      <a class="nav-item nav-link active" href="#">Order Lines</a>  
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <a class="nav-item nav-link" href="#">About</a>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <a class="nav-item nav-link" href="#">Contact</a>
      </a>     
    </div>
  </div>
</nav>
<body>  
  <app-orderlist></app-orderlist>
</body>