<nav class="navbar navbar-dark bg-dark mb-5">  
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a [routerLink] = "['/welcome']" class="nav-item nav-link active" >Home</a>  
      <a [routerLink] = "['/orders']" class="nav-item nav-link active" >Orders</a>  
      <a [routerLink] = "['/orderlines']" class="nav-item nav-link active">Order Lines</a>  
      <a [routerLink] = "['/items']" class="nav-item nav-link active">Create Items</a>
    </div>
  </div>  
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
